
<div>
    <ul>
        <li><button [class.active]="displayMode=='tab1'" class="btn btn-default" (click)="viewMode('tab1')">Tab-1</button></li>
        <li><button [class.active]="displayMode=='tab2'" class="btn btn-default" (click)="viewMode('tab2')">Tab-2</button></li>
        <li><button [class.active]="displayMode=='tab3'" class="btn btn-default" (click)="viewMode('tab3')">Tab-3</button></li>
    </ul>
</div>
<br><br><br><br>

<div [ngSwitch]="displayMode">
    <div *ngSwitchCase="'tab1'" class="box">
       <h1>this is tab 1</h1> 
    </div>
    <div *ngSwitchCase="'tab2'" class="box">
        <h1>this is tab 2</h1> 
    </div>
    <div *ngSwitchDefault class="box">
        <h1>this is tab 3</h1> 
    </div>
</div>

<p>ngClass, ngStyle</p>